<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Bethuya.Hybrid.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Bethuya.Hybrid.Shared/app.css" />
    <link rel="stylesheet" href="_content/BlazorBlueprint.Components/blazorblueprint.css" />
    <link rel="stylesheet" href="Bethuya.Hybrid.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/Bethuya.Hybrid.Shared/favicon.png" />
    <HeadOutlet/>
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
